.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.row {
  display: flex;
}

.tile {
  width: 60px;
  height: 60px;
  border: 2px solid #333;
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #fff;
  color: #333;
  font-weight: bold;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.tile:hover {
  background-color: lightgray;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.goal-board, .current-board {
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

.previous-scores-container {
  margin-top: 20px;
  overflow-x: auto; /* Add horizontal scroll bar */
  width: 60%; /* Adjust the width to fit the content */
}

.previous-scores-heading {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 10px;
}

.previous-scores-list {
  list-style-type: none;
  padding: 0;
}

.previous-score-item {
  margin-bottom: 5px;
  font-size: 0.9em; /* Decrease font size */
  white-space: nowrap; /* Prevent line breaks */
}

.move {
  font-weight: bold;
}

.time {
  font-style: italic;
}

.slider-container {
  overflow-x: auto;
}

.slider {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 10px;
  scrollbar-width: thin; /* Show scrollbar */
  scrollbar-color: #888 #f4f4f4; /* Color customization */
}

.slider::-webkit-scrollbar {
  width: 12px; /* Width of scrollbar */
}

.slider::-webkit-scrollbar-track {
  background: #f4f4f4; /* Track color */
}

.slider::-webkit-scrollbar-thumb {
  background-color: #888; /* Thumb color */
  border-radius: 6px; /* Round corners */
}
