.home-container {
  padding: 20px;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: #e9ecef;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.todo-list {
  margin-bottom: 20px;
  width: 100%;
  max-width: 600px;

  ul {
    list-style: none;
    padding: 0;

    li {
      padding: 20px;
      border: 1px solid #ddd;
      margin-bottom: 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      transition: background-color 0.3s, transform 0.3s;
      cursor: pointer;
      background-color: #ffffff;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      animation: fadeIn 0.5s;

      &:hover {
        background-color: #e9ecef;
        transform: translateY(-4px);
      }

      .todo-text {
        flex-grow: 1;
        padding-right: 15px;
        transition: color 0.3s;

        &:hover {
          color: #007bff;
        }
      }

      button {
        border: none;
        padding: 10px 15px;
        cursor: pointer;
        border-radius: 5px;
        font-size: 14px;
        transition: background-color 0.3s, transform 0.2s;

        &:first-of-type {
          background-color: #28a745;
          color: white;
          margin-right: 10px;

          &:hover {
            background-color: #218838;
            transform: scale(1.05);
          }
        }

        &:last-of-type {
          background-color: #dc3545;
          color: white;

          &:hover {
            background-color: #c82333;
            transform: scale(1.05);
          }
        }
      }

      &.completed {
        text-decoration: line-through;
        color: #888;
        background-color: #f5f5f5;

        .todo-text {
          color: #888;
        }
      }
    }
  }
}

.add-item, .edit-item {
  margin-top: 20px;
  width: 100%;
  max-width: 600px;
  display: flex;
  align-items: center;

  input {
    padding: 15px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    transition: border-color 0.3s, box-shadow 0.3s;

    &:focus {
      border-color: #007bff;
      box-shadow: 0 0 8px rgba(0, 123, 255, 0.25);
      outline: none;
    }
  }

  button {
    padding: 15px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.2s;

    &:hover {
      background-color: #0056b3;
      transform: scale(1.05);
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media (max-width: 768px) {
  .home-container {
    padding: 10px;
  }

  .todo-list {
    max-width: 100%;
  }

  .add-item, .edit-item {
    max-width: 100%;
  }
}